PORT=3000
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/webhook_db"
DIRECT_URL="postgresql://USER:PASSWORD@localhost:5432/webhook_db"
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379